.category-container {
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 1rem;
  padding-top: 7px;
  color: #333;
  /* padding-left: 2rem; */
  font-size: 16px;
}

.category-container ul li a:hover {
  color: #d10124;
}

.category-container ul li a {
  text-decoration: none;
  color: #333;
  line-height: 1.75;
}
.category__heading {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.category-containe {
  margin-left: 2rem;
}

.category__heading  h3 {
  font-size: 1.7rem;
  margin-top: 0;
}
.category__heading  a {
  text-decoration: none;
}
.subcate-link:hover{
  color: #fff;
}
