* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif !important; */
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    width: 100%;
    line-height: 1.2;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #252826;
}
p {
    color: #333;
}

.slider_mui {
    color: #d10124 !important;
}

.slider_mui:hover {
    color: red;
}

.slider_mui .MuiSlider-thumb {
    height: 15px;
    width: 15px;
}

.MuiBadge-badge{
    font-size: 15px !important;
}

.btn-small {
    padding: 5px 11px;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    font-size: 13px;
}

.green-gradient {
    background: -webkit-linear-gradient(left, #60bb22, #20863d);
}
.red-gradient {
    background: #f85032; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #e73827,
        #f85032
    ); /* Chrome 10-25, Safari 5.1-6 */
}

.btn {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.btn::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff2f2f;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.btn:hover {
    cursor: pointer;
}

.btn:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.btn{
    margin-top: 4rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 3.5rem;
    margin-bottom: 5rem;
}